@model IEnumerable<WebMDW.Models.Project.ProjectModel>

<h2>Мои проекты</h2>

<div class="row">
    <div class="col-md-4">
        @foreach (var myproject in Model)
        {
        <div class="card">
            <div class="card-header">
                @myproject.Name
            </div>
            <div class="card-body">
                <p class="card-text">Этап: @myproject.Stages.Name</p>
                <p class="card-text">Статус: @myproject.Status.Name</p>
                <p class="card-text">Заверешн на: @myproject.ProcentComplete</p>
                @Html.ActionLink("Посмотреть", "SelectProject", "Project", new { id = myproject.Id}, new { @class="btn btn-primary" })
            </div>
        </div>
        }
    </div>
    
</div>
